.title-container {
    width: 580px;
    height: 130px;
    margin: 130px 740px 0 120px;
  }

.title {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}
.subtitle-container {
    width: 610px;
    height: 215px;
    margin: 0 0 56px 120px;
}
.subtitle {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
}

.email {
    color: #1890FF;
}

.btn-container {
    margin-top: 0;
    margin-left: 120px;
}