.btn-container {
    width: 100px;
    height: 40px;
    left: 120px;
    top: 595px;
    background: #1890FF;
    border-radius: 4px;
    margin-left: 120px;
    margin-top: 680px;
    
}

.config-text {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    height: 24px;
    left: 138px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-left: 11px;
    margin-top: 6px;
}