.main-nav {
    position: absolute;
    width: 100%;
    height: 62px;
    left: 0px;
    top: 0px;
    background: #1890FF;
}

.navbar-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;  
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;

    
}

a {
    text-decoration: none;
}